<?xml version="1.0" encoding="UTF-8" ?>
<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id="com.phonegapscam.simpleapp"
  version="1.1.0">
  <name>SIMPLE APP</name>
  <description>SIMPLE APP</description>
  <author href="http://phonegapscam.com" email="support@phonegapscam.com">phonegapscam</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
</widget>